/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Prompt', sans-serif;
    font-size: 100%;
}

/* ZONA TITOLO E DESCRIZIONE */
.container {
    /* border: 1px solid black; */
    width: 70%;
    margin: 2em auto;
}

h1 {
    color: rgb(229, 49, 112);
}

p {
    font-size: 0.8rem;
}

h1,
p {
    text-align: center;
    margin-bottom: 1em;
}

/* /ZONA TITOLO E DESCRIZIONE */
/* ZONA CARD UTENTE */
.row {
    margin-top: 20px;
    text-align: left;
    margin-bottom: 30px;
}

/* BLOCCO IMMAGINE E DATI USER */
.card {
    width: calc(100% / 3 - 1em);
    background-color: rgb(15, 14, 23);
    display: inline-block;
    margin-left: 0.5em;
    overflow: auto;
    height: 70px;
    box-shadow: 0 0 5px 1px grey;
}

/* /BLOCCO IMMAGINE E DATI USER */

img {
    height: 70px;
    float: left;
    border-right: 6px solid rgb(15, 14, 23);
}

/* LISTA DATI */
ul {
    list-style: none;
}

.user {
    padding-top: 3px;
}

.name {
    font-size: 0.9rem;
    font-weight: 600;
}

.profession {
    font-size: 0.6rem;
}

.name,
.profession {
    color: white;
}

a {
    font-size: 0.6rem;
    /* margin-bottom: 2px; */
}

/* /ZONA CARD UTENTE */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* SASSONE （づ￣3￣）づ╭❤～🗿 */